*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input {
    font-family: inherit;
}

button {
    font-family: inherit;
    color: currentColor;
    cursor: pointer;
}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

.menu-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}

.desc {
    margin-bottom: 30px;
    text-align: center;
}

.subtitel {
    margin-bottom: 14px;
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.contacts-list-item {
    margin-bottom: 6px;
}

.skills-list-item {
    margin-bottom: 6px;
}

.languages-list-item {
    margin-bottom: 6px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}